/* ==========================================================================
   App Stylesheet
   app.less
   ========================================================================== */


/* Vendor Styles and Setting (bootstrao > variables)
   ======================================================================== */
@import "bootstrap.less";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base.less";

/*
.container {
	width: 100%;

	#canvas {
		text-align: center;
	}
}

*/
canvas {
   position: absolute;
   top: 0;
   left: 0;
}